<html>
    <head>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1.0', {'packages':['corechart']});
            google.setOnLoadCallback(drawDownloadChart);
            google.setOnLoadCallback(drawUploadChart);
            var chartHeight = {{ ispCount }}*25;
            function drawDownloadChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'ISP name');
                data.addColumn('number', 'Average download speed (kbps)');
                data.addColumn({type: 'string', role: 'tooltip'});
                data.addRows({{ dataRowsForDownloadSpeed|safe }})
                var options = {'title':'Average download speed (kbps) of ISPs in {{ cityName|safe }} from {{ startDate|safe }} to {{ endDate|safe }}',
                               'titleTextStyle':{'fontSize':14, 'bold':true},
                               'width':800,
                               'height':chartHeight,
                               'legend':'none',
                               'chartArea':{'left':200, 'top':100},
                               'bar':{'groupWidth':5},
                               'hAxis':{'textStyle':{'fontSize':10}},
                               'vAxis':{'textStyle':{'fontSize':10}},
                               'tooltip':{'textStyle':{'fontSize':12}}};
                var chart = new google.visualization.BarChart(document.getElementById('download_div'));
                chart.draw(data, options);
            }
            function drawUploadChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'ISP name');
                data.addColumn('number', 'Average upload speed (kbps)');
                data.addColumn({type: 'string', role: 'tooltip'});
                data.addRows({{ dataRowsForUploadSpeed|safe }});
                var options = {'title':'Average upload speed (kbps) of ISPs in in {{ cityName }} from {{ startDate|safe }} to {{ endDate|safe }}',
                               'titleTextStyle':{'fontSize':14, 'bold':true},
                               'width':800,
                               'height':chartHeight,
                               'legend':'none',
                               'colors':['red'],
                               'chartArea':{'left':200, 'top':100},
                               'bar':{'groupWidth':5},
                               'hAxis':{'textStyle':{'fontSize':10}},
                               'vAxis':{'textStyle':{'fontSize':10}},
                               'tooltip':{'textStyle':{'fontSize':12}}};
                var chart = new google.visualization.BarChart(document.getElementById('upload_div'));
                chart.draw(data, options);
            }
        </script>
        <title>ISPs' speed chart for Indian cities</title>
    </head>
    <body>
        <hr>
        <p class="text-center">Please note that results include some private ISPs. Also actual speed vary over different parts of a city over different time of a day.</p>
        <div align="center" id="download_div"></div>
        <div align="center" id="upload_div"></div>
        <hr>
        <ul class="list-inline" align="center">
            <li><a href="http://www.netindex.com/source-data/" target="_blank" rel="nofollow" style="text-decoration:none">Data source</a></li>
            <li><a href="https://github.com/mainakk/cityinternetspeed" target="_blank" rel="nofollow" style="text-decoration:none">Github</a></li>
            <li><a href="mailto:mainak1729@gmail.com?subject=Feedback%20for%20cityinternetspeed" target="_blank" rel="nofollow" style="text-decoration:none">Feedback</a></li>
        </ul>
        <p class="text-center">Last updated on {{ maxDate }}.</p>
    </body>
</html>
